{% extends 'layouts/_default.twig' %}

{% block app %}
    <h1 class="text-center">New Planet Form</h1>
    <form class="entry flex align-items-center justify-content-around" method="POST" enctype="multipart/form-data"
        action="/planets{% if planet is defined %}/{{planet.id}}{% endif %}">
        <div class="flex-col justify-content-center">
            <div class="flex justify-content-between">
                <label for="name">Name</label>
                <input id="name" name="name" type="text"
                {% if planet is defined %}
                    value="{{planet.name}}"
                {% endif %}/>
            </div>
    
            <div class="flex justify-content-between">
                <label for="size">Size</label>
                <input id="size" name="size" type="number"
                {% if planet is defined %}
                    value="{{planet.size}}"
                {% endif %}/>
            </div>
    
            <div class="flex justify-content-between align-items-center">
                <label for="description">Description</label>
                <textarea id="description" name="description"/>{% if planet is defined %}{{planet.description}}{% endif %}</textarea>
            </div>
    
            {% if stars is defined and stars.length > 0 %}
                <div class="flex justify-content-between align-items-center">
                    <label class="text-center" for="starIds">Belongs to</label>
                    <select class="w-100" id="starIds" name="starIds" multiple>
                        {% for star in stars %}
                            <option value="{{star.id}}"
                            {% if planet is defined and star.id in selectedStarIds %}
                                selected
                            {% endif %}>
                            {{star.name}}</option>
                        {% endfor %}
                    </select>
                </div>
            {% endif %}

            <button class="align-self-center" type="submit">Submit</button>
        </div>

        <div>
            <label for="image">Upload Image:</label>
            <br/>
            <input type="file" name="image" id="image" />
        </div>
    </form>
{% endblock app %}